.button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  font-family: $font-family;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: $default-red;
  border: 0;
  color: $default-bg-white;
  border-radius: 31px;
  padding: 20px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 10px 18px 0 rgba(246, 27, 60, 0.55);

  @include fonts-default($default-bg-white, 14px, 1.286em, 700);
}

.button:hover,
.button:focus {
  outline: none;
  background-color: $default-red-hover;
}

.button:active {
  background-color: $default-red-active;
}

@media screen and (min-width: $screen-desktop) {
  .button {
    font-size: 16px;
  }
}
