.cost__description {
  margin: 0;
  margin-bottom: 40px;

  @include fonts-default($text-color-black-d, 14px, 18px, 300);
}

@media screen and (min-width: $screen-tablet) {
  .cost__description {
    font-size: 16px;
    margin-bottom: 40px;
    line-height: 24px;
  }
}

@media screen and (min-width: $screen-desktop) {
  .cost__description {
    font-size: 18px;
    margin-bottom: 50px;
    line-height: 28px;
    max-width: 653px;
  }
}
