@media screen and (min-width: $screen-tablet) {
  .situations-items__description_decor_wave::before {
    content: "";
    position: absolute;
    bottom: -45px;
    right: -70px;
    width: 145px;
    height: 19px;
    background: url('../img/sprites.png') -10px -10px;
    z-index: 3;
  }
}
