
$default-red: #f5112c;
$default-red-hover: #f63f54;
$default-red-active: #d50d25;
$default-blue: #2429ff;

$default-bg-grey: #f8f8f8;
$default-bg-white: #fff;

$font-family: "Gilroy";
$text-color-black-d: #141414;
$text-color-black: #000;
$text-color-black-l: #1b1b1b;

$screen-tablet: 768px;
$screen-desktop: 1200px;
